In [1]:
import cv2 as cv
import glob
import os
import sys
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
import numpy as np
from scipy.stats import pearsonr
import statistics
import re
import tqdm

In [88]:
df=pd.read_csv('AllTestCorrelation_uav.csv')

In [82]:
# from dplython import X, group_by, summarize, DplyFrame
# df_trial = DplyFrame(trial)

In [89]:
df_dropped_1=df.loc[df.model==df.testset,]
df_dropped_1.describe()

              r2
count  15.000000
mean    0.472106
std     0.111526
min     0.255220
25%     0.404640
50%     0.502240
75%     0.550235
max     0.640080

In [84]:
def check_pattern(row):
    model_pattern = row['model'].split('_')[0]  # Get the pattern before underscore in 'model' column
    test_pattern = row['testset'].split('_')[0]  # Get the pattern before underscore in 'testcolumn'
    return model_pattern == test_pattern

def check_false_pattern(row):
    model_pattern = row['model'].split('_')[0]  # Get the pattern before underscore in 'model' column
    test_pattern = row['testset'].split('_')[0]  # Get the pattern before underscore in 'testcolumn'
    return model_pattern != test_pattern 
# Apply the function to each row and filter rows accordingly

rowstodrop=df_dropped_1.index
df_dropped_2=df.drop(index=rowstodrop, axis=0)
df_dropped_2= df_dropped_2.loc[df_dropped_2.apply(check_pattern, axis=1)]

In [85]:
df_dropped_2.describe()

              r2
count  90.000000
mean    0.066583
std     0.082309
min     0.000150
25%     0.007253
50%     0.025285
75%     0.111620
max     0.410510

In [86]:
rows_to_drop = df[df['model'] == df['testset']].index

# Drop rows
df_dropped = df.drop(index=rows_to_drop)

rowstodrop = df_dropped_2.index

df_dropped_3= df_dropped.drop(index=rowstodrop)

In [87]:
df_dropped_3.describe()

               r2
count  216.000000
mean     0.018481
std      0.042061
min      0.000000
25%      0.000760
50%      0.004880
75%      0.015055
max      0.333890

In [91]:
0.48-0.41

0.07